<h2>Alerts</h2>
<form method="post" autocomplete="off">
	<fieldset>
		<legend>Edit Alerts</legend>
		<table>
			<tr>
				<th style="width: 10%;">Name</th>
				<th style="width: 50%;">Message</th>
				<th style="width: 14%;">Graphic</th>
				<th style="width: 14%;">Sound</th>
				<th style="width: 4%;">Duration</th>
				<th style="width: 4%;">Video Volume</Video></th>
				<th style="width: 4%;">Sound Volume</th>
				<td></td>
			</tr>
			{{#each data.alerts}}
			<tr>
				<td>{{this.key}}</td>
				<td><input type="text" name="update[{{this.key}}][message]" value="{{this.message}}"></td>
				<td><input type="text" name="update[{{this.key}}][graphic]" value="{{this.graphic}}"{{#eq this.key 'shoutout'}} disabled{{/eq}}></td>
				<td><input type="text" name="update[{{this.key}}][sound]" value="{{this.sound}}"></td>
				<td><input type="number" name="update[{{this.key}}][duration]" value="{{this.duration}}"></td>
				<td><input type="number" name="update[{{this.key}}][videoVolume]" value="{{this.videoVolume}}" min="0" max="100"{{#eq this.key 'shoutout'}} disabled{{/eq}}></td>
				<td><input type="number" name="update[{{this.key}}][soundVolume]" value="{{this.soundVolume}}" min="0" max="100"></td>
				<td><input type="button" class="testbutton" name="atest[{{this.key}}]" value="Test"></td>
			</tr>
			{{/each}}
		</table>
		<fieldset class="buttons">
			<input type="reset" value="Reset">
			<input type="submit" value="Save">
		</fieldset>
	</fieldset>
</form>
