<h2>Commands</h2>
<form method="post">
	<fieldset>
		<legend>Add Command</legend>
		<table>
			<tr>
				<th>Trigger</th>
				<th>Access Level</th>
				<th>User Timeout</th>
				<th>Global Timeout</th>
				<th>Aliases</th>
				<th>Command</th>
			</tr>
			<tr>
				<td><input type="text" name="key"></td>
				<td>
					<select name="level">
						<option value="0">Everyone</option>
						<option value="1">Subscriber</option>
						<option value="2">Moderator</option>
						<option value="3">Broadcaster</option>
					</select>
				</td>
				<td><input type="number" name="user_timeout" min="0" value="0"></td>
				<td><input type="number" name="global_timeout" min="0" value="0"></td>
				<td><input type="text" name="aliases"></td>
				<td><input type="text" name="command"></td>
			</tr>
		</table>
		<fieldset>
			<input type="submit" name="add" value="Add">
		</fieldset>
	</fieldset>
</form>
<form method="post">
	<fieldset>
		<legend>Edit Commands</legend>
		<table>
			<tr>
				<th>Trigger</th>
				<th>Access Level</th>
				<th>User Timeout</th>
				<th>Global Timeout</th>
				<th>Aliases</th>
				<th>Command</th>
				<th>Delete</th>
			</tr>
			{{#each data.commands}}
			<tr>
				<td>
					<input type="hidden" name="update[{{this.id}}][id]" value="{{this.id}}">
					<input type="text" name="update[{{this.id}}][key]" value="{{this.key}}">
				</td>
				<td>
					<select name="update[{{this.id}}][level]">
						<option value="0"{{#eq this.level 0}} selected{{/eq}}>Everyone</option>
						<option value="1"{{#eq this.level 1}} selected{{/eq}}>Subscriber</option>
						<option value="2"{{#eq this.level 2}} selected{{/eq}}>Moderator</option>
						<option value="3"{{#eq this.level 3}} selected{{/eq}}>Broadcaster</option>
					</select>
				</td>
				<td><input type="number" name="update[{{this.id}}][user_timeout]" min="0" value="{{this.user_timeout}}"></td>
				<td><input type="number" name="update[{{this.id}}][global_timeout]" min="0" value="{{this.global_timeout}}"></td>
				<td><input type="text" name="update[{{this.id}}][aliases]" value="{{this.aliases}}"></td>
				<td><input type="text" name="update[{{this.id}}][command]" value="{{this.command}}"></td>
				<td><input type="checkbox" name="delete[i{{this.id}}]"></td>
			</tr>
			{{/each}}
		</table>
		<fieldset>
			<input type="reset" value="Reset">
			<input type="submit" value="Save">
		</fieldset>
	</fieldset>
</form>
