<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="overlay.css">
	<title>StoveLabs Overlay</title>
</head>
<body style="display: none;">
	{{#if countdown}}
	<div id="countdown"></div>
	{{#if countdown_audio}}
	<audio src="media/{{countdown_audio}}" id="music" loop></audio>
	{{/if}}
	{{/if}}
	{{#if nextstream}}
	<div id="nextstream"></div>
	{{/if}}
	{{#if tips}}
	<div id="loading">
		<div id="loadingtext">Loading</div>
		<img src="loading.png">
		<div id="tips"></div>
	</div>
	{{/if}}
	{{#each alerts}}
	<div class="alert{{#eq @key 'shoutout'}} shoutout{{/eq}}" id="{{@key}}">
		{{#eq @key 'shoutout'}}
		<img>
		{{/eq}}
		{{#if this.video}}
		<video src="media/{{this.video}}"></video>
		{{/if}}
		{{#if this.image}}
		<img src="media/{{this.image}}">
		{{/if}}
		<p>{{{this.message}}}</p>
		{{#if this.sound}}
		<audio src="media/{{this.sound}}"></audio>
		{{/if}}
	</div>
	{{/each}}
	{{#each sfx}}
	<audio id="sfx_{{@key}}" src="media/{{this.file}}"></audio>
	{{/each}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
	<script>const config = {{{config}}};</script>
	<script src="overlay.js"></script>
</body>
</html>
