<h2>Settings</h2>
<form method="post" autocomplete="off">
	<fieldset>
		<legend>Discord</legend>
		<label>Bot Token: <input type="password" name="discord_bot_token" value="{{data.discord_bot_token}}"></label><br>
		<label>Channel ID: <input type="text" name="discord_channel" value="{{data.discord_channel}}"></label><br>
		<label>Live Message: <textarea name="discord_live_message" rows="2">{{data.discord_live_message}}</textarea></label><br>
		<label>Ended Message: <textarea name="discord_ended_message" rows="2">{{data.discord_ended_message}}</textarea></label>
	</fieldset>
	<fieldset>
		<legend>Twitter</legend>
		<label>Consumer Key: <input type="text" name="twitter_consumer_key" value="{{data.twitter_consumer_key}}"></label><br>
		<label>Consumer Secret: <input type="password" name="twitter_consumer_secret" value="{{data.twitter_consumer_secret}}"></label><br>
		<label>Access Token: <input type="text" name="twitter_access_token_key" value="{{data.twitter_access_token_key}}"></label><br>
		<label>Access Token Secret: <input type="password" name="twitter_access_token_secret" value="{{data.twitter_access_token_secret}}"></label><br>
		<label>Live Message: <input type="text" name="twitter_live_message" value="{{data.twitter_live_message}}"></label>
	</fieldset>
	<fieldset>
		<legend>DonorDrive</legend>
		<label>Instance Name: <input type="text" name="donordrive_instance" value="{{data.donordrive_instance}}"></label>
		<label>Participant ID: <input type="number" name="donordrive_participant" value="{{data.donordrive_participant}}"></label>
	</fieldset>
	<fieldset>
		<legend>Countdown Music</legend>
		<label>Audio File: <input type="text" name="countdown_audio" value="{{data.countdown_audio}}"></label>
		<label>Volume: <input type="number" name="countdown_audio_volume" value="{{data.countdown_audio_volume}}" min="0" max="100"></label>
	</fieldset>
	<fieldset>
		<legend>Text-to-speech</legend>
		<label>TTS Voice: <select name="tts_voice" id="tts_voice">
			<option value="{{data.tts_voice}}">{{data.tts_voice}}</option>
		</select></label><br>
		<label>TTS Volume: <input type="number" name="tts_volume" value="{{data.tts_volume}}" min="0" max="100"></label>
	</fieldset>
	<fieldset class="buttons">
		<input type="reset" value="Reset">
		<input type="submit" value="Save">
	</fieldset>
</form>
