<h2>Sound Effects</h2>
<form method="post" autocomplete="off">
	<input type="hidden" name="add" value="1">
	<fieldset>
		<legend>Add Sound</legend>
		<table>
			<tr>
				<th style="width: 15%;">Key</th>
				<th style="width: 81%;">File</th>
				<th style="width: 4%;">Volume</th>
			</tr>
			<tr>
				<td><input type="text" name="key"></td>
				<td><input type="text" name="file"></td>
				<td><input type="number" name="volume" value="100" min="0" max="100"></td>
			</tr>
		</table>
		<fieldset class="buttons">
			<input type="submit" value="Add">
		</fieldset>
	</fieldset>
</form>
<form method="post" autocomplete="off">
	<fieldset>
		<legend>Edit Sounds</legend>
		<table>
			<tr>
				<th style="width: 15%;">Key</th>
				<th style="width: 77%;">File</th>
				<th style="width: 4%;">Volume</th>
				<th style="width: 4%;">Delete</th>
				<th></th>
			</tr>
			{{#each data.sfx}}
			<tr>
				<td>
					<input type="hidden" name="update[{{this.id}}][id]" value="{{this.id}}">
					<input type="text" name="update[{{this.id}}][key]" value="{{this.key}}">
				</td>
				<td><input type="text" name="update[{{this.id}}][file]" value="{{this.file}}"></td>
				<td><input type="number" name="update[{{this.id}}][volume]" value="{{this.volume}}" min="0" max="100"></td>
				<td><input type="checkbox" name="delete[i{{this.id}}]"></td>
				<td><input type="button" class="testbutton" name="stest[{{this.key}}]" value="Test"></td>
			</tr>
			{{/each}}
		</table>
		<fieldset class="buttons">
			<input type="reset" value="Reset">
			<input type="submit" value="Save">
		</fieldset>
	</fieldset>
</form>
